@using static System.Net.Mime.MediaTypeNames;
@model ArticlesModel
@{
    ViewData["Title"] = "Add new Article";
}
<div class="container bg-primary-subtle p-5 rounded-5">

    <div class="mb-5 text-center">
        <h1 class="text-dark">@ViewData["Title"]</h1>
    </div>
<form method="post" asp-controller="Articles" asp-action="AddArticle">

     <div class="form-group mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"></input>
                <span asp-validation-for="Title" class="text-danger"></span>
     </div>
    <div class="mb-3">
    <label asp-for="Text" class="form-label text-dark">Article</label>
   <textarea asp-for="Text" id="tiny" name="Text"></textarea>
    <span class="text-danger" asp-validation-for="Text"></span>  
</div>

  <div class="form-group d-flex gap-5 mt-5">

    <button type="submit" class="btn btn-success w-50">Save</button>
    <a class="btn btn-primary w-50" asp-controller="Articles" asp-action="Index">Back</a>
  
 </div>

</form>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}