@model BooksModel
@{
    ViewData["Title"] = "Delete Book";
}

<div class="container bg-primary-subtle p-5 rounded-5" >

    <div class="mb-5 text-center">
        <h1 class=" text-dark ">@ViewData["Title"]</h1>
    </div>

<form method="post" asp-controller="Books" asp-action="DeleteBook">
    <input type="hidden" asp-for="Id"/>

    <h4 class="text-dark text-center">Are you sure you want to delete this book?</h4>

  <div class="mb-3">
    <label for="Book" class="form-label text-dark">Book Title</label>
    <input type="text" class="form-control" asp-for="Book" id="Book" placeholder="Name of the book" disabled> 
    <span class="text-danger" asp-validation-for="Book"></span>  
</div>

  <div class="mb-3">
    <label for="AuthorName" class="form-label text-dark">Author</label>
    <input type="text" class="form-control" asp-for="AuthorName" id="AuthorName" placeholder="Name of the Author" disabled>
    <span class="text-danger" asp-validation-for="AuthorName"></span>    
</div>


    <div class="mb-3">
    <label for="Field" class="form-label text-dark">Field</label>
    <input type="text" class="form-control" asp-for="Field" id="Field" placeholder="Field of knowledge" disabled> 
    <span class="text-danger" asp-validation-for="Field"></span>    
</div>

  <div class="d-flex gap-5 mt-4">
    <button type="submit" class="btn btn-danger w-50">Delete</button>
    <a class="btn btn-primary w-50" asp-controller="Books" asp-action="Index">Back</a>
  </div>


</form>
</div>

